
$color2: rgba(255, 255, 255, 1);
$color3: rgba(230, 232, 230, 1);
$color4: rgba(206, 208, 206, 1);
$color5: #303633;
$color_success: #23C057;
$color_text: $color5;
$color_text_light: rgba(lighten($color5, 10%), .85);
$color_border: rgba(lighten($color1, 40%), .5);
$color_bg: #C8D9E7;


body, html {
    width: 100%;
    height: 100%;
    font-family: "Montserrat";
    color: #303633;
    background-color: #C8D9E7;
    overflow: hidden;
    position: relative;
    outline: none;
    perspective: 1000px;
}

.content-wrapper .is-rotated-left {
    transform: translate(-50%, -50%) rotateY(-4deg);
}
.content-wrapper .is-rotated-right {
    transform: translate(-50%, -50%) rotateY(4deg);
}
.content-wrapper .left-wrapper,
.content-wrapper .right-wrapper {
    background-color: white;
    width: 50%;
    float: left;
    height: 100%;
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.content-wrapper .header i {
    padding: 0 5px;
    cursor: pointer;
}
.content-wrapper .header {
    padding: 15px 0 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    .content-wrapper .header span {
        display: inline-block;
        margin: 0 3px;
        font-weight: 700;
    }
.content-wrapper .right-wrapper .is-active {
    transform: rotateY(0deg);
}
.content-wrapper .right-wrapper .header {
    text-align: left;
    justify-content: center;
}
.content-wrapper .right-wrapper .day {
    font-size: 12em;
    text-indent: -12px;
    display: block;
}
.content-wrapper .right-wrapper .month {
    font-size: 2.5em;
}
.content-wrapper .right-wrapper {
    background-color: #48A9A6;
    color: white;
    transform-origin: left center;
    transform: rotateY(110deg);
    transition: all 0.5s;
}
.content-wrapper {
  position: absolute;
  width: 730px;
  height: 420px;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  transition: all 0.195s ease;
  transform-style: preserve-3d;
}

    .content-wrapper .left-wrapper .showDate {
        color: white;
        text-align: right;
        width: 100%;
}
        .content-wrapper .left-wrapper .showDate i {
            cursor: pointer;
            background: #48A9A6;
            border-radius: 4px;
            padding: 8px 12px;
            transform: scale(1);
            transition: all 0.3s;

}
            .content-wrapper .left-wrapper .showDate i .is-active {
                transform: scale(-1);
            }

    .content-wrapper .left-wrapper table tbody ::before {
        content: "-";
        display: block;
        line-height: 0.75em;
        color: transparent;
    }

    .content-wrapper .left-wrapper table {
        text-align: center;
        font-family: "Open Sans";
        width: 90%;
        margin: 30px auto 0;
        table-layout: fixed;
        border-collapse: collapse;

th {
    color: #48A9A6;
    font-size: 0.75em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

td {
    padding: 11px 5px;
    color: $color4;
    font-size: 0.75em;
    transition: all 0.3s;
    position: relative;
    //border-radius: 100%;
    &::before

{
    content: "";
    display: none;
    width: 50%;
    height: 2px;
    //border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -8px);
    background-color: #48A9A6;
}

&.currentDay {
    &::before

{
    display: block;
}

}

&.selectable {
    color: $color_text;
    cursor: pointer;
    &:hover

{
    background: #48A9A6;
    color: white;
}

}

&.between {
    background: rgba($color1, .65);
    color: white;
}

&.active,
&.hover {
    background: #48A9A6;
    color: white;
}

}
}