h2 {
    color: #046149;
    font-family: cursive;
    sans-serif;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    text-shadow: 0 3px #701463, 0 3px #096700;
}
