
body {
    font-family: 'Quicksand', sans-serif;
    background: #fff;
}
.wrapper {
  width: 100%;
  height: auto;
  min-height: 100px;
  padding: 50px 20px;
  padding-top: 200px;
  display: flex;
  display: flex;

}

.form-control{
    display: initial;
}
@media screen and (max-width: 768px) {
    .wrapper {
        height: auto;
        min-height: 100vh;
        padding-top: 100px;
    }
}


.profile-card .active .profile-card__cnt {
      filter: blur(6px);
    }

.profile-card .active .profile-card-message,
    .profile-card__overlay {
      opacity: 1;
      pointer-events: auto;
      transition-delay: .1s;
    }

.profile-card .active .profile-card-form{
      transform: none;
      transition-delay: .1s;
  }
.profile-card__img img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

.profile-card__img {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: -1px 5px 50px 0px greenyellow, 0px 0px 0px 3px rgb(212 247 145);
}

@media screen and (max-width: 576px) {
    .profile-card__img {
        width: 120px;
        height: 120px;
    }
}

.profile-card__cnt {
    margin-top: -35px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 30px;
    transition: all .3s;
  }

.profile-card__name {
    font-weight: 700;
    font-size: 30px;
    color: #0ACFDC;
    margin-bottom: 15px;
}

.profile-card__txt {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    color: #224354;
    margin-bottom: 15px;
}

.profile-card__txt strong {
    font-weight: 700;
}



.profile-card {
    width: 100%;
    min-height: 400px;
    margin: auto;
    box-shadow: 0 14px 18px 14px rgb(41 41 43 / 50%);
    background-color: rgb(156 156 156 / 90%);
    border: solid;
    border-color: greenyellow;
    max-width: 700px;
    position: relative;
}

profile-card-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.profile-card__button {
    background: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 19px;
    margin: 15px 35px;
    padding: 15px 40px;
    min-width: 120px;
    padding-left:50px;
    border-radius: 50px;
    min-height: 55px;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all .3s;
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}

    .profile-card__button:hover {
        box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
        transform: translateY(-5px);
    }

.button--orange {
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
}

    .button--orange:hover {
        box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
        transform: translateY(-5px);
    }

.wrapper p {
    text-align:center;
    font-weight:bold;
    font-size:20px;
}

a {
    color: #224354;
    text-decoration: none;
}

label {
    color: greenyellow;
    font-weight: 500;
}