body {
    font-family: Verdana, Geneva, sans-serif;
    background: #00F260;
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    background: linear-gradient(to right, #0575E6, #00F260);

}
.form_wrapperM {
    background: #00F260;
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    background: linear-gradient(to right, #0575E6, #00F260);
    width: 300px;
    border-radius: 20px;
    padding: 25px;
    margin: 4% auto 0;
    position: relative;
    z-index: 1;
    border-top: 8px solid #298977;
    border-bottom: 8px solid #1C9F89;
    box-shadow: 0 14px 18px 14px rgba(0, 0, 0, 0.5);
    transform-origin: 80% 0%;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: none;
    transition: none;
    -webkit-animation: expand 0.8s 0.6s ease-out forwards;
    animation: expand 0.8s 0.6s ease-out forwards;
    opacity: 0;
}

.form_wrapperM .title_containerM {
    text-align: center;
    padding-bottom: 15px;
}

.form_wrapperM .input_field {
    margin-bottom: 20px;
    -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;
}

    .form_wrapperM input[type="submit"] {
        background: #c31432;
        background: -webkit-linear-gradient(to right, #240b36, #c31432);
        background: linear-gradient(to right, #240b36, #c31432);
        height: 35px;
        line-height: 35px;
        width: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        color: #fff;
        font-size: 1.1em;
        margin-bottom: 10px;
        border-radius: 10px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        transition: all 0.30s ease-in-out;
    }

        .form_wrapperM input[type="submit"]:hover {
            background: #333333;
            background: -webkit-linear-gradient(to right, #dd1818, #333333);
            background: linear-gradient(to right, #dd1818, #333333);

        }

        .form_wrapperM input[type="submit"]:focus {
            background: #00F260;
            background: -webkit-linear-gradient(to right, #0575E6, #00F260);
            background: linear-gradient(to right, #0575E6, #00F260);
        }

.form-wrapperM h2 {
    color: #B715B9;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
}

@-webkit-keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    25% {
        height: 0;
        width: 7px;
    }

    50% {
        height: 20px;
        width: 7px;
    }
}

@keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    25% {
        height: 0;
        width: 7px;
    }

    50% {
        height: 20px;
        width: 7px;
    }
}

@-webkit-keyframes expand {
    0% {
        -webkit-transform: scale3d(1,0,1);
        opacity: 0;
    }

    25% {
        -webkit-transform: scale3d(1,1.2,1);
    }

    50% {
        -webkit-transform: scale3d(1,0.85,1);
    }

    75% {
        -webkit-transform: scale3d(1,1.05,1);
    }

    100% {
        -webkit-transform: scale3d(1,1,1);
        opacity: 1;
    }
}

@keyframes expand {
    0% {
        -webkit-transform: scale3d(1,0,1);
        transform: scale3d(1,0,1);
        opacity: 0;
    }

    25% {
        -webkit-transform: scale3d(1,1.2,1);
        transform: scale3d(1,1.2,1);
    }

    50% {
        -webkit-transform: scale3d(1,0.85,1);
        transform: scale3d(1,0.85,1);
    }

    75% {
        -webkit-transform: scale3d(1,1.05,1);
        transform: scale3d(1,1.05,1);
    }

    100% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
        opacity: 1;
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate3d(0,-25px,0);
        opacity: 0;
    }

    25% {
        -webkit-transform: translate3d(0,10px,0);
    }

    50% {
        -webkit-transform: translate3d(0,-6px,0);
    }

    75% {
        -webkit-transform: translate3d(0,2px,0);
    }

    100% {
        -webkit-transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translate3d(0,-25px,0);
        transform: translate3d(0,-25px,0);
        opacity: 0;
    }

    25% {
        -webkit-transform: translate3d(0,10px,0);
        transform: translate3d(0,10px,0);
    }

    50% {
        -webkit-transform: translate3d(0,-6px,0);
        transform: translate3d(0,-6px,0);
    }

    75% {
        -webkit-transform: translate3d(0,2px,0);
        transform: translate3d(0,2px,0);
    }

    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .form_wrapper .col_half {
        width: 100%;
        float: none;
    }

    .bottom_row .col_half {
        width: 50%;
        float: left;
    }

    .form_containerM .row .col_half.last {
        border-left: none;
    }

    .remember_me {
        padding-bottom: 20px;
    }
}
