h2 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    text-shadow: 0 6px #177080, 0 8px #096700;
}

a, a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
/* Cards */

.small {
    font-size: 100%;
}
.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 20px 21px -12px rgba(0, 0, 0, 0.76);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
}

    .postcard:hover .postcard__bar {
        width: 100px;
    }

    .postcard a {
        color: inherit;
    }

    .postcard .postcard__title {
        font-size: 1.75rem;
    }

    .postcard .postcard__img {
        max-height: 100%;
        width: 100%;
        object-fit: cover;
        position: relative;
    }

    .postcard .postcard__img_link {
        display: contents;
    }

    .postcard .postcard__bar {
        width: 80px;
        height: 10px;
        margin: 10px 0;
        border-radius: 5px;
        background-color: #424242;
        transition: width 0.2s ease;
    }

    .postcard .postcard__text {
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .postcard .postcard__preview-txt {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        height: 100%;
    }

    .postcard .postcard__tagbox {
        display: flex;
        flex-flow: row wrap;
        font-size: 14px;
        margin: 20px 0 0 0;
        padding: 0;
        justify-content: center;
    }

        .postcard .postcard__tagbox .tag__item {
            display: inline-block;
            background: rgba(83, 83, 83, 0.4);
            border-radius: 3px;
            padding: 2.5px 10px;
            margin: 0 5px 5px 0;
            cursor: default;
            user-select: none;
            transition: background-color 0.3s;
        }

.postcard, dark {
    background-color: #18151f;
}

    .postcard .postcard__tagbox .tag__item:hover {
        background: rgba(83, 83, 83, 0.8);
    }

    .postcard:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(-70deg, #424242, transparent 50%);
        opacity: 1;
        border-radius: 10px;
    }

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
    }

        .postcard:nth-child(2n+0) .postcard__text::before {
            right: -32px !important;
            transform: rotate(-4deg);
        }

        .postcard:nth-child(2n+1) .postcard__text::before {
            left: -32px !important;
            transform: rotate(2.8deg);
        }

        .postcard:nth-child(2n+0) {
            flex-direction: row-reverse;
        }

        .postcard:nth-child(2n+1) {
            flex-direction: row;
        }

        .postcard:hover .postcard__img {
            transform: scale(1.1);
        }

        .postcard .media .postcard__text:before {
            content: "";
            position: absolute;
            display: block;
            background: #18151f;
            top: -20%;
            height: 130%;
            width: 55px;
        }

        .postcard .postcard__text {
            padding: 3rem;
            width: 100%;
        }

        .postcard .postcard__img {
            max-width: 300px;
            max-height: 100%;
            transition: transform 0.3s ease;
        }

        .postcard .postcard__tagbox {
            justify-content: start;
        }

        .postcard .postcard__title {
            font-size: 2rem;
        }
}

@media screen and (min-width: 1024px) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }

        .postcard__text:before {
            content: "";
            position: absolute;
            display: block;
            top: -20%;
            height: 130%;
            width: 55px;
        }

    .postcard.dark .postcard__text:before {
        background: #18151f;
    }
}

/* COLORS */
.postcard .postcard__tagbox .blue.play:hover {
    background: #0076bd;
}

.blue .postcard__title:hover {
    color: #0076bd;
}

.blue .postcard__bar {
    background-color: #0076bd;
}

.blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
    .blue::before {
        background-image: linear-gradient( -80deg, rgba(0, 118, 189, 0.1), transparent 50% );
    }

    .blue:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }
}
