/* COLORS
========================================== */
/* MIXINS
========================================== */
/* RESET
========================================== */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: white!important;
}
section {
    width: 450px!important;
}

/* CONTACT
========================================== */
.contact-area {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 10px;
}

.contact {
    position: relative;
    max-width: 100%;
    padding: 40px 20px;
    overflow: hidden;
    margin: 0 auto;
    float: left;
    display: flex;
}

.contact main {
  float: left;
  width: 100%;
  position: relative;
}

.contact main section {
  border-radius: 5px;
  float: left;
  width: 100%;
  height: 150px;
  background-color: cornsilk;
  border:solid;
  border-color:black;
}

.contact main section .content {
  float: left;
  width: 100%;
  height: 180px;
  margin-top:10px;
  padding: 20px 30px 50px 30px;
  position: relative;
  text-align: right;
}

.contact main section .content img {
  float: left;
  margin-left: -20px;
  margin-top: -70px;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  border: 3px solid rgb(19 26 108);
}

.contact main section .content aside {
    float: left;
    width: 100%;
    color: black;
    font-family: cursive;
    margin-top: -60px;
    padding-left: 75px;
    text-align: center;
}

.h1, h1 {
    font-size: 24px;
    padding-left: 50px;
    margin-top: 12px;
}

.contact main .firsttitle {
  float: left;
  width: 100%;
  background-color: #c63535;
  max-height: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  -webkit-transition: all 0.55s;
  -moz-transition: all 0.55s;
  -o-transition: all 0.55s;
  transition: all 0.55s;
}

.contact main .firsttitle.active {
  max-height: 100px;
  -webkit-transition: all 1.3s;
  -moz-transition: all 1.3s;
  -o-transition: all 1.3s;
  transition: all 1.3s;
}

.contact main .firsttitle.active p {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition-delay: 0.2s;
}

.contact main .firsttitle p {
  padding: 15px 30px;
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.contact main #firstbutton {
  position: absolute;
  bottom: 0;
  right: 50%;
  color: rgb(19 26 108);
  font-weight:550;
  border: 0;
  width: 200px;
  height: 48px;
  text-align: center;
  border-radius: 30px;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-right: -100px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transition-delay: 0.1s;
  outline: none;
  overflow: hidden;
  z-index: 10;
  font-family: inherit;
  background-color: #fff;
  border: 3px solid rgb(19 26 108);
  
}

.contact main #firstbutton span {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  transition-delay: 0.4s;
  display: block;
  width: 200px;
  float: left;
  padding: 10px 0px;
  
  
}

.contact main #firstbutton svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.contact main #firstbutton svg path {
  fill: rgb(19 26 108);
  
}

.contact main #firstbutton.active {
  margin-right: 0;
  right: 20px;
  width: 65px;
  height: 65px;
      margin-bottom: 1px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 65px;
  
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.contact main #firstbutton.active span {
  opacity: 0;
  transition-delay: 0s;
  width: 200px;
  
}

.contact main #firstbutton.active svg {
  opacity: 1;
  transition-delay: 0.5s;
  
}

.contact #firstnav {
    /* float: left; */
    width: 100%;
    padding-top: 150px;
    margin-left: -490px;
    padding-right: 100px;
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.contact #firstnav.active {
  max-height: 600px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.contact #firstnav.active a {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.contact #firstnav.active a:nth-of-type(1) {
  transition-delay: 0.5s;
}

.contact #firstnav.active a:nth-of-type(2) {
  transition-delay: 0.7s;
}

.contact #firstnav.active a:nth-of-type(3) {
  transition-delay: 0.9s;
}

.contact #firstnav a {
  float: left;
  width: 100%;
  height: 100px;
  margin-top: 18px;
  background-color: cornsilk;
  padding: 18px 20px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  position: relative;
}

.contact #firstnav a .arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contact #firstnav a .arrow path {
  fill: #e6e6e6;
}

.contact #firstnav a.gmail .icon svg {
  background-color: #d14836;
}

.contact #firstnav a.gmail .content h1 {
  color: #d14836;
}

.contact #firstnav a.facebook .icon svg {
  background-color: #3b5998;
}

.contact #firstnav a.facebook .content h1 {
  color: #3b5998;
}

.contact #firstnav a.twitter .icon svg {
  background-color: #1da1f2;
}

.contact #firstnav a.twitter .content h1 {
  color: #1da1f2;
}

.contact #firstnav a .icon {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.contact #firstnav a .icon svg {
  width: 100%;
  height: 100%;
  padding: 14px;
}

.contact #firstnav a .icon svg path {
  fill: #ffffff;
}

.contact #firstnav a .content h1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.4px;
}

.contact #firstnav a .content span {
  font-size: 14px;
  color: #b3b3b3;
  display: block;
  letter-spacing: 0.4px;
}





.gmail {
	border: 3px groove rgb(19 26 108);
}

.facebook {
	border: 3px groove rgb(19 26 108);
}